@charset "utf-8";

/*tips样式*/

.tip-box {
	display: none;
	position: absolute;
	line-height: 25px;
	background: lightblue;
	border-radius: 4px;
	padding: 2px 8px;
}

.tip-box .tip-content {
	position: relative;
	min-width: 12px;
	width: auto;
}

.tip-box .tip-icon-guide {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 7px;
	border-color: transparent;
	border-style: dashed;
}

.tip-box .tip-icon-guide.top {
	bottom: -8px;
	left: -5px;
	border-right-style: solid;
	border-right-color: lightblue;
}

.tip-box .tip-icon-guide.right {
	left: -15px;
	top: -2px;
	border-bottom-style: solid;
	border-bottom-color: lightblue;
}

.tip-box .tip-icon-guide.bottom {
	top: -9px;
	left: -5px;
	border-right-style: solid;
	border-right-color: lightblue;
}

.tip-box .tip-icon-guide.left {
	right: -15px;
	top: -2px;
	border-bottom-style: solid;
	border-bottom-color: lightblue;
}
/*inline样式*/
.easy-validform {
	visibility: hidden;
	height: 30px;
	line-height: 30px;
	padding-left: 18px;
}
.easy-validform .easy-validform-icon {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -18px;
	margin-top: 7px;
	background: url(valid-bg.png) no-repeat;
}
.easy-validform.success .easy-validform-icon {}

.easy-validform.error .easy-validform-icon {
	background-position-x: -16px;
}
.easy-validform.info .easy-validform-icon {
	background-position-x: -38px;
}